<header>
  <div class="title">

    <h1>RAD HATS</h1> </div>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/loggedin">Shop</a></li>
  <li><a href="/search">Search</a></li>
  <li><a href="/favourites">Favorites</a></li>
</ul>
  </header>
</header>
