<header>
  <div class="title">
    <h2>SITE NAME</h2>
  </div>
  <div class="usercontrols">
    <h6>user controls</h6>
    <button>this is button</button>
    <button>this is button 2</button>
  </div>
</header>
