<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('../views/partials/header') %>

    <div class="main-container">
      <div class="featured-items">
        <div class="featureitem-1"><h5>this will be feature box</h5></div>
        <div class="featureitem-2"><h5>this will be feature box</h5></div>
        <div class="featureitem-3"><h5>this will be feature box</h5></div>
      </div>

      <div class="descriptionandlogo">
        <div class="description"><h5>This is some text about our app</h5></div>
        <div class="logo"><h5 id="top">"This our logo</h5></div>
      </div>
    </div>
    <%- include('../views/partials/footer') %>
  </body>
</html>
