<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buy and Sell</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/mainpage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/featured.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script type="text/javascript" src="/scripts/createlistingajax.js"></script>
  </head>

  <body>
    <%- include('../views/partials/header') %>

    <div class="main-container">


      <div class="descriptionandlogo">
          <i class="fas fa-hat-cowboy fa-10x"></i>
          <!-- <img src="https://www.flaticon.com/svg/vstatic/svg/615/615844.svg?token=exp=1613093782~hmac=14baef98964401aa0dae54b73c94ba17"> -->
          <h1>
            Welcome to our awesome hat store!
          </h1>
          <button type="submit" class="create-listing">Create A New Listing</button>
        </div>
      </div>
    </div>
    <%- include('../views/partials/footer') %>
  </body>
</html>
