<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- CSS AND JQUERY STUFF-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/store.js"></script>
    <script
      src="https://kit.fontawesome.com/cd452b9300.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <%- include('../views/partials/header') %>
  <body>
    <div class="main-container">
      <div class="featureitem-title">
        <h2>Feature Items</h2>
        <div class="featured-items">
          <div class="featureitem-1"><h5>this will be feature box</h5></div>
          <div class="featureitem-2"><h5>this will be feature box</h5></div>
          <div class="featureitem-3"><h5>this will be feature box</h5></div>
        </div>
      </div>
      <div class="saleitem-title">
        <h2>Rad Hats for sale</h2>
        <div class="itemsforsale">
          <div class="sale-coloumn-1">
            <div class="storeitem-1" id="item-1">
              <h5>this will be feature box</h5>
            </div>
            <div class="storeitem-1" id="item-2">
              <h5>this will be feature box</h5>
            </div>
            <div class="storeitem-1" id="item-3">
              <h5>this will be feature box</h5>
            </div>
          </div>
          <div class="sale-coloumn-2">
            <div class="storeitem-1" id="item-4">
              <h5>this will be feature box</h5>
            </div>
            <div class="storeitem-1" id="item-5">
              <h5>this will be feature box</h5>
            </div>
            <div class="storeitem-1" id="item-6">
              <h5>this will be feature box</h5>
            </div>
          </div>
          <div class="sale-coloumn-3">
            <div class="storeitem-1" id="item-7">
              <h5>this will be feature box</h5>
            </div>
            <div class="storeitem-1" id="item-8">
              <h5>this will be feature box</h5>
            </div>
            <div class="storeitem-1" id="item-9">
              <h5>this will be feature box</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../views/partials/footer') %>
  </body>
</html>
