.featured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 600px;
  margin: 20px;
  padding: 10px;
  background-color: transparent;
}

.featureitem-title h2 {
  display: flex;
  justify-content: center;
}

.featured-items img {
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 5px 5px #0b3948;
}
