// See: https://sass-lang.com/

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  padding: 8px;
  h1 {
    color: #244751;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: green;
  border: 2px solid black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 99%;
  height: 200px;
  align-items: center;
  background-color: green;
  border: 2px solid black;
  position: fixed;
  top: 0;
}

.title {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 150px;
  background-color: blue;
  align-items: center;
  justify-content: center;
}

.usercontrols {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 150px;
  background-color: blue;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
  width: auto;
  height: 900px;
  margin-top: 200px;
}

.featured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: yellow;
}

.featureitem-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: grey;
}

.featureitem-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: grey;
}

.featureitem-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: grey;
}

.descriptionandlogo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: yellow;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: grey;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-size: 300px;
  background-image: url(https://homedepot.scene7.com/is/image/homedepotcanada/p_1001196936.jpg?wid=1000&hei=1000&op_sharpen=1);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: center;
}
#top {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: grey;
}

// THESE ARE ALL THE CSS FOR THE LOGGED IN USERS

.itemsforsale {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: yellow;
}

.sale-coloumn-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 800px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}
.sale-coloumn-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 800px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}
.sale-coloumn-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 800px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}

.storeitem-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: grey;
}

// single product page
.main-product-container {
  margin-top: 190px;
  align-items: center;
  justify-content: center;
  align-self: space-around;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.product-Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 600px;
  height: 500px;
  background-color: cornflowerblue;
}
.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 500px;
  background-color: grey;
}
