.descriptionandlogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: transparent;
}

.descriptionandlogo h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.75;
}

.descriptionandlogo img {
  height: 200px;
  width: 200px;
}

.create-listing {
  width: 250px;
  height: 50px;
  border: 1 px white;
  box-shadow: 0px 5px 10px 10px silver;
  border-radius: 50px;
  opacity: 0.75;
}

button:hover,
button:focus {
  outline: none;
}

#name {
  width: 400px;
  border-radius: 50px;
  resize: none;
}
#price {
  width: 400px;
  border-radius: 50px;
  resize: none;
}
#description {
  width: 400px;
  border-radius: 50px;
  resize: none;
}
#name {
  width: 400px;
  border-radius: 50px;
  resize: none;
}
#url {
  width: 400px;
  border-radius: 50px;
  margin-bottom: 10px;
  resize: none;
}

.submit-listing {
  height: 50px;
  box-shadow: 0px 5px 10px 10px silver;
  border-radius: 50px;
}
